.record-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .start-btn{
    width: 150px;
    height: 150px;
    color: white;
    background-color: black;
    border-radius: 50%;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 12px;
  }
  .audios-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
  }